*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
section{
    width: 100%;
    display: flex;
    min-height: 780px;
    margin-bottom: 150px;
    justify-content: center;

}
:root{
    --title-color:rgba(0, 191, 165, 1);
    --subtitle-color: rgba(27, 54, 93, 1);
    --text-color: #06254080;
    --background-transparent:#06254020;
    --font-sora: 'Sora', sans-serif;
    --font-lato: 'Lato', sans-serif;
    
}

h1{
    font-family: var(--font-sora);
    font-size: 48px;
    font-weight: bolder;
    color: var(--title-color);      
    margin-bottom: 30px;
}
h2{
    font-family: var(--font-lato);
    color: var(--subtitle-color);
    font-size: 20px;
    font-weight:400;
    margin-bottom: 75px;
}
h3{
    font-weight: bolder;
    font-family: var(--font-sora);
    color: var(--subtitle-color);
    font-size: 20px;
    margin-block: 20px;   
}
p{
    font-family: var(--font-lato);
    color: var(--text-color);
    font-size: 26px;
}
a{
    
    color: var(--text-color);
    font-family: var(--font-lato);
    font-size: 18px;
}
button{
    cursor: pointer;
    align-items: center;
    width: 175px;
    height: 50px;
    border-radius: 8px;
    font-size: 18px;
    font-weight: medium;
    border: none;
    font-family: var(--font-lato);
}
.contact-button{
    background-color: var(--subtitle-color);
    color: var(--title-color);
}
.curriculum-button{
    background-color: white;
    color: var(--subtitle-color);
    border-style: solid;
    border-color: var(--title-color);
}

nav{
    z-index: 100;
    width:100% ;
    position: fixed;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 12vh;
    background: white;
    font-family: var(--font-lato);
}


.logo-caiq{
    width: 12rem;
    height: 2.5rem;
}
.navlist{
   list-style: none;
   display: flex;

    li{
        margin-right: 0 1.5rem;
        color: (6, 37, 64, 0.5);
        font-size: 18px;
        margin:2vw;
    
    }

   & a:hover{
    opacity: 0.4;
   }
}

#title{
    font-size: 4.5vw;
    margin-top: 30px;
    font-family: var(--font-sora);
    color: var(--title-color);
    font-weight: bolder;
}
#subtitle-home{
    font-size: 1.5vw;
    font-family: var(--font-lato);
    color: var(--subtitle-color);
    font-weight: medium;
}
#apresentation{
    font-size: 1.5vw;
    font-family: var(--font-lato);
    color: var(--text-color);
    font-weight: bold;
}
#numbers{
    font-size: 1.5vw;
    font-family: var(--font-sora);
    color: var(--title-color);
    font-weight: bolder;
}
#big-numbers{
    font-size: 2vw;
    font-family: var(--font-sora);
    color: var(--title-color);
    font-weight: bolder;
}
.home{
    justify-content: space-around;
    padding-top: 150px;

}
.home-img{
    animation: slideInRight 2s ease-in;}
.home-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start; 
    animation: slideInLeft 2s ease-in;
}
.row{
    display: flex;
    gap: 30px;
    margin-top: 70px;
}
.social-icons{
    display: flex;
    gap: 40px;
    margin-top: 70px;
}


.xperience-resume{
    background-color:var(--background-transparent);
    margin-top: 70px;
    height: 140px;
    display: flex;
    gap: 40px;
    border-radius: 8px; 
    align-items: center; 
    padding: 20px;
    justify-content: space-around;
}
.xperience-box{
    display: flex;
    flex-direction: column;
    width: 210px;
    height: 90px;
    justify-content: space-around;    
}
.xperience-box:nth-child(1),.xperience-box:nth-child(2){
    border-right: 2px solid var(--title-color);
}


.services-div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.services-container{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
    gap: 60px;

}
.services-box{
    text-align: center;
    width: 400px;
    height: 360px;
    background-color: var(--background-transparent);
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: center;
    border-radius: 12px;
    padding: 50px;
    transition: transform 0.3s ease;
}

.about-div{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    height: fit-content;
}
.about-content{
    height:810px;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto;
    column-gap: 100px;
    padding-inline: 200px;
   
}
.about-text{
    grid-column: 2;
    grid-row: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    text-align:left;
    line-height: 30px;
}
.about-knowledge{
    display: flex;
    flex-direction: row;
    width: 1350px;
    height: 240px;
    justify-content: space-between;
    margin-top: 100px;
    
}
.knowledge-box{
    width: 240px;
    height: 240px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    line-height: 20px;
}

.profile-div{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.profile-hud{
    display: flex;
    gap: 30px;
    flex-direction: row;
    margin-top: 60px;
    margin-bottom: 40px;
}
.hud-button{
    padding: 10px;
    width:fit-content;
    height: 50px;
    border-radius: 8px;
    font-size: 1vw;
    border: none;
    background-color: var(--background-transparent);
    color: var(--text-color);
}
.profile-containers{
    display: grid;
    grid-template-columns: repeat(3, 400px);
    grid-template-rows: repeat(2, 500px);
    gap: 2rem;
    padding: 100px;
    align-items: center;
}
.container{

    width: 400px;
    border-radius: 12px;
    overflow: hidden;
    cursor: pointer;
    background-color: var(--background-transparent);
  
}
.container:hover{
  transform: translateY(-10px);
}
.container:hover .overlay {
  opacity: 0.3; 
  inset: 0;
}
.overlay {
    position: absolute;
    background-color: var(--title-color); 
    opacity: 0; 
    transition: opacity 0.4s ease; 
}
.layer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 20px;
    font-size: 14px;

}
.contact-div{
    display: flex;
    flex-direction: column;
    align-items:center;
    text-align: center;
    
}
.contact-form{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
}
.input-field{
    padding: 1rem;
    background: var(--background-transparent);
    border-radius: 7px;
    border: none;
    color: var(--text-color);
    width: 100%;
    font-family: var(--font-sora);
    &:focus{
        outline: none;
        border: 2px solid var(--title-color);
    }

}
.submit-button{
    background-color: var(--subtitle-color);
    color: var(--title-color);
    margin: 10px 250px;
}


